// hamburger menu button
.menu-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
    z-index: 3;
    @include easeOut;

    &-line {
        height: 3px;
        width: 27px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }
    &.close {
        transform: rotate(180deg);

        .menu-btn-line {
            &:nth-child(1) {
                // top line
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2) {
                // middle line
                opacity: 0;
            }
            &:nth-child(3) {
                // bottom line
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}
